body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
    }



    /* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


  
  body::before { /*Background Image*/
    content: "";
    position: fixed;
    background: #040404 url("Photo/002 background.png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(8, 8, 8);
    z-index: 1;
  }
  
  
.navbar-brand{ /*Nav-Bar Name(or Logo)*/
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.nav-item a:hover, .dropdown:hover .dropbtn {
  background-color:  #18d26e;
}

ul{
    padding-right: 15px;
}
#navbarSupportedContent li{
    padding-left: 50px;
    padding-top: 2px;
}

      /* .......About me (1st Section).......*/

#about-section{
  padding-top: 5em;
}

.about-me{
  background-color: rgba(0, 0, 0, 0.829);
  color: #fff;
}


.section-title h2 { /*About*/
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

h2::after{ /* Horizontal Line*/
  content: "";
    width: 130px;
    height: 2px;
    display: inline-block;
    background: #18d26e;
    margin: 4px 10px;
}

#learnmore{ /*Learn More About Me Text*/
  margin: -15px 0 15px 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.about-me .content h3 { /*Profession Title*/
  font-weight: 700;
  font-size: 26px;
  color: #18d26e;
}

.font-italic { /*1st Para*/
    font-style: italic!important;
}

.para-2{
  text-align: justify;
  font-style: italic;

}
.para-3{
  text-align: justify;
  font-style: italic;

}
.col-lg-6 li{
  padding-bottom: 10px;
}
.softwares{
  background-color: rgba(255, 255, 255, 0.062);
}
.software{ /*Learn More About Me Text*/
    margin: -15px 0 15px 0;
    font-size: 26px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color:  #18d26e;
    padding-top: 5px;
}

.software::after{ /* Horizontal Line*/
  content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #ffffff;
    margin: 4px 10px;
}

.plang{
  background-color: rgba(0, 0, 0, 0.479);
  margin-top: 25px;
  margin-bottom: 10px;
  }
.programlang{ /*Programming Language*/
  margin: -15px 0 15px 0;
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color:  #18d26e;
  padding-top: 5px;
}

.programlang::after{ /* Programming Language Horizontal Line*/
content: "";
  width: 75px;
  height: 2px;
  display: inline-block;
  background: #ffffff;
  margin: 4px 10px;
}

.skills{
  background-color: rgba(255, 255, 255, 0.062);
  margin-top: 25px;
  margin-bottom: 10px;
  }

#skills{ /*skills*/
  margin: -7px 0 15px 0;
  font-size: 26px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color:  #18d26e;
  padding-top: 5px;
}

#skills::after{ /* skills Horizontal Line*/
content: "";
  width: 120px;
  height: 2px;
  display: inline-block;
  background: #ffffff;
  margin: 4px 10px;
}

#skill{
  color: #fff;
  font-size: 18px;
}


.credits { /*Footer*/
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}
